.rate_select {
  display: inline-block;
  margin-right: 20px;
}

.rate_span {
  padding-right: 10px;
  font-weight: bold;
}

.rate_option {
  width: 100px;
  height: 30px;
  border: groove;
  font-size: medium;
}

.rate_option:hover {
  border: dashed;
}
